<li>
  <%= link_to recipe.name, recipe_path(recipe) %> |
  <% if recipe.reviews.present? %>
  Difficulty: <%= recipe.reviews.average(:difficulty).round %> |
  Reviews: <%= recipe.reviews.count %>
  <% else %>
      No Reviews
  <% end %>
  <br>
  <%= button_to "Delete", recipe_path(recipe), method: 'delete' %>
</li>
