<section>
  <header>
    <h2>Recipes</h2>
  </header>

  <ul id="recipes">
    <%= render @recipes %>
  </ul>

  <br>

  <button onclick="timeSavers()" class="btn">Time Saving Recipes</button>
  <div id="quick" style="display:none;"></div>
</section>

<section>
  <h2>Add Recipe</h2>
<%= render 'form' %>
</section>
