<section>
  <header>
    <h2>Recipes</h2>
  </header>

  <table id="recipes">
    <tr>
      <th>Recipe Name</th>
      <th>Difficulty</th>
      <th>Reviews</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    <tr>
    <%= render @recipes %>
  </table>

  <br>

  <button onclick="timeSavers()">Time Saving Recipes</button>
  <div id="quick" style="display:none;"></div>
</section>

<section>
  <h2>Add Recipe</h2>
<%= render 'form' %>
</section>
