<section>
  <header>
    <h2>Recipes</h2>
  </header>
  <table id="recipes-list">
    <tr>
      <th>Recipe Name</th>
      <th>Difficulty</th>
      <th>Reviews</th>
    </tr>
    <tr>
      <% @recipes.each do |r| %>
        <td><%= link_to r.name, recipe_path(r) %></td>
        <td><%= r.reviews.average(:difficulty).round %></td>
        <td><%= link_to r.reviews.count, recipe_path( r , :anchor => "reviews-section") %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= button_to 'Add New Recipe', new_recipe_path, :method => :get %>

</section>
