<section>
  <table id="recipes-list">
    <tr>
      <th>Recipe Name</th>
    </tr>
    <% @recipes.each do |r| %>
    <tr>
      <td><%= link_to r.name, recipe_path(r) %></td>
    </tr>
<% end %>
</table>
<br>
<%= button_to 'Add New Recipe', new_recipe_path, :method => :get %>
</section>
