<section>
  <header>
    <h2>Time Saving Recipes</h2>
  </header>
  <table id="recipes-list">
    <tr>
      <th>Recipe Name</th>
      <th>Total Time</th>
    </tr>
    <tr>
      <% @recipes.each do |r| %>
        <td><%= link_to r.name, recipe_path(r) %></td>
        <td><%= r.total_time %> min.</td>
      </tr>
    <% end %>
  </table>
</section>
