<header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Veggie Recipes</h1>
          <h1 class="masthead-heading mb-0">In 5 Ingredients or Less</h1>
          <% if !user_signed_in?%>
          <a href="/users/sign_up" class="btn btn-primary btn-xl rounded-pill mt-5">Get Started</a>
          <% else %>
          <h2 class="masthead-subheading mb-0">Welcome back <%= current_user.name %> !</h2>
          <a href="/recipes" class="btn btn-primary btn-xl rounded-pill mt-5">Let's Eat</a>
          <% end %>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
