/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #eee;
  margin: 0;
  padding: 30px 0 0;
}

/* LINKS */

input[type=submit] {
  background-color: #4267b2;
  border-color: #29487d;
  border: 1px solid #ced0d4;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 18px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: top;
  white-space: nowrap;
}

input[type=submit]:hover {
  background-color: #365899;
  border-color: #29487d;
}

.btn {
  background-color: #4267b2;
  border-color: #29487d;
  border: 1px solid #ced0d4;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 18px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: top;
  white-space: nowrap;
}

.btn:hover {
  background-color: #365899;
  border-color: #29487d;
  color: white;
}

.view-user-recipes {
  background-color: #4267b2;
  border-color: #29487d;
  border: 1px solid #ced0d4;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 18px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: top;
  white-space: nowrap;
}

.view-user-recipes:hover {
  background-color: #365899;
  border-color: #29487d;
  color: white;
}

.view-user-reviews {
  background-color: #4267b2;
  border-color: #29487d;
  border: 1px solid #ced0d4;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 18px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: top;
  white-space: nowrap;
}

.view-user-reviews:hover {
  background-color: #365899;
  border-color: #29487d;
  color: white;
}

input#term {
  margin: 0;
}

/* NAVBAR */

ul.nav.navbar-nav {
  float: right;
}

nav.navbar.navbar-default.navbar-fixed-top {
  background-color: #3c5898;
}

.navbar-header {
  background-color: #3c5898;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.nav.navbar-nav.navbar-right>li>a {
  color: white;
}

.nav.navbar-nav.navbar-right>li>a:hover {
  color: #c7b6b6;
}

.nav.navbar-nav>li>a {
  color: white;
}

.nav.navbar-nav>li>a:hover {
  color: #c7b6b6;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

/* JUMBOTRON */

div.jumbotron {
  background-image: url("Fork-and-Spoon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  height: -webkit-fill-available;
  overflow: auto;
}

section.recipes p {
  font-size: 14px;
  margin-bottom: 0px;
}

h1.masthead-heading.mb-0 {
  font-family: 'Catamaran', sans-serif;
  color: white;
  text-shadow: 2px 2px #3c5798;
}

h2.masthead-subheading.mb-0 {
  font-family: 'Catamaran', sans-serif;
  color: white;
  text-shadow: 2px 2px #3c5798;
}

header.masthead.text-center.text-white {
  margin-top: 90px;
  margin-bottom: 10px;
}

/* MAIN */
.container.center {
  margin-top: 30px;
  width: fit-content;
  border: 3px solid #3c5898;
  padding: 10px 30px 30px 30px;
  background-color: #eeeeeee8;
}

.container.center>a:hover {
  text-decoration: none;
  color: #e24667;
}

section {
  margin: auto;
  border: 3px solid #3c5898;
  padding: 10px;
  background-color: #ffffffed;
}

section#reviews-section p {
  font-size: 14px;
  z-index: 1001;
}

input[type=text] {
  width: min-content;
  margin: 8px 0;
  box-sizing: border-box;
}

.alert {
  margin: auto;
  color: #3c5898;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.81);
  border: 1px solid #73c4b0;
  width: fit-content;
}

i.material-icons {
  font-size: inherit;
}

#error_explanation h2, li {
  font-size: 13px;
  color: #3c5898;
}

header {
  text-align: center;
}

#recipes {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#recipes td, #recipes th {
    border: 1px solid #ddd;
    padding: 8px;
}

#recipes tr:nth-child(even){background-color: #f2f2f2;}

#recipes tr:hover {background-color: #baddd6;}

#recipes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4266b2;
    color: white;
}

textarea#recipe_instructions {
    width: -webkit-fill-available;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #3c5798;
}

div#ingredient_list {
  column-count: 3;
  column-rule: 2px solid #3c5897;
}
/* FOOTER */

.page-footer {
  background-color: #3c5898;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Typewriter */

.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: rgba(255,255,255,.75);
    padding-top: 20px;
    font-family: 'Catamaran', sans-serif;
    color: white;
    text-shadow: 2px 2px #3c5798;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,0);}
  to{border-right-color: transparent;}
}
