<h6><button class="js-review" data-id="<%= review.id %>"><%= review.recipe.name %></button></h6>
<!-- <h4><%= link_to review.recipe.name, review.recipe if review.recipe %></h4> -->
<p id="body-<%= review.id %>" class="reviewDiv"></p>
